h1{
    color: red;
    font-family:verdana;
    font-size: 20px; 
    text-align: center
};

.bgimg {
    background-image: url('https://bulma.io/images/placeholders/96x96.png');
}

.imageContainer {
margin-left: 50px; 
margin-top: 50px;
}


.container {
    margin: 0 auto;
    text-align: center;
    width: 700px;
  }

.card-heading {
    padding: 16px;
}

.field-line, .button-line {
    padding: 16px;
  }

.top-bar {
    padding: 10px 15px;
    margin-bottom: 50px;
}

.top-bar-left {
    float: left;
    font-size: 1.5em;
  }
  
.cardWidth {
    margin-left: 15%;
    margin-right: 15%;
}
.textStyle{
    color: #323765
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 50px;
  }